 Data Cleaning::

In [1]:
import csv
from openpyxl import Workbook
from openpyxl import load_workbook

 White list of characters::

In [2]:
white_list = ['অ','আ','ই','ঈ','উ','ঊ','ঋ','এ','ঐ','ও','ঔ','ক','খ','গ','ঘ','ঙ','চ','ছ','জ','ঝ','ঞ','ট','ঠ','ড',
              'ঢ','ণ','ত','থ','দ','ধ','ন','প','ফ','ব','ভ','ম','য','র','ল','শ','ষ','স','হ','ড়','ঢ়','য়','ৎ','ক্ষ',
              'ঁ','ং','ঃ','়','া','ি','ী','ু','ূ','ৃ','ৄ','ে','ৈ','ো','ৌ','্','ৗ','ৠ','ৢ','ৣ','ৰ','ৱ','০','১','২',
              '৩','৪','৫','৬','৭','৮','৯','।','?','!',',',':',';',' ']

In [3]:
wb = Workbook()

In [4]:
path = 'D:\EDUCATION\Deep Learning\Jupyter Notebook\Twitter Bangla Collection\Tweets_July_Bangla_Raw\\'

In [5]:
file_name = 'Tweet_July_2018_1'

In [6]:
file_extension = '.xlsx'

In [7]:
tweet_year = '2018'

In [8]:
wb = load_workbook(path+file_name+file_extension)

In [9]:
ws = wb.active

In [10]:
tuple_cells = ws['A']

In [11]:
clean_values = []
unnecessary_multiple_occurences = False
for cell_num in range(1, len(tuple_cells)+1):
    cell_date = 'A'+str(cell_num)
    cell_tweet = 'B'+str(cell_num)
    filtered_string = ''
    
    if ws[cell_tweet].value is not None:
        for char in ws[cell_tweet].value:
            if char in ['।','?','!',',',':',';',' '] and unnecessary_multiple_occurences==True:
                continue
            elif char not in ['।','?','!',',',':',';',' '] and unnecessary_multiple_occurences==True:
                unnecessary_multiple_occurences = False
            elif char in ['।','?','!',',',':',';',' '] and unnecessary_multiple_occurences==False:
                unnecessary_multiple_occurences = True
            if char in white_list:
                filtered_string += char
        
        for current_date in ws[cell_date].value:
            date = ws[cell_date].value + ' ' + tweet_year
        
        clean_values.append((date, filtered_string))

In [12]:
print(clean_values[4])

('Jul 30 2018', 'আল্লাহ মহাপরাক্রমশালী এবং সবার ওপর পরিপূর্ণরূপে বিজয়ী হওয়া সত্ত্বেও নিজের সৃষ্টির প্রতি তিনি দয়াবান ও ক্ষমাশীল।দুষ্কর্মকারীদের শাস্তি দেয়ার পুরো ক্ষমতা তাঁর আছে।কিন্তু যারা লজ্জিত হয়ে দুষ্কর্ম পরিত্যাগ করে এবং ক্ষমা প্রার্থনা করে তাদের সাথে তিনি ক্ষমাশীলতার আচরণ করে থাকেন।')

Inserting clean data in MySQL Database::

In [13]:
import mysql.connector

In [14]:
host_name = 'localhost'
username = 'root'
password = ''
database = 'tweetdb'

In [15]:
mydb = mysql.connector.Connect(host=host_name, user=username, passwd=password)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001FDC66F1048>

In [16]:
mycursor = mydb.cursor()
print(mycursor)

MySQLCursor: (Nothing executed yet)

In [17]:
sql = 'CREATE DATABASE IF NOT EXISTS ' + database

In [18]:
mycursor.execute(sql)

In [19]:
sql = 'USE ' + database

In [20]:
mycursor.execute(sql)

In [21]:
sql = '''CREATE TABLE IF NOT EXISTS tweets (
    id INT AUTO_INCREMENT PRIMARY KEY,
    tweet_date VARCHAR(20) NOT NULL,
    tweet TEXT NOT NULL
    )CHARACTER SET utf8 COLLATE utf8_general_ci
'''

In [22]:
mycursor.execute(sql)

In [23]:
sql = 'INSERT INTO tweets (tweet_date, tweet) VALUES (%s, %s)'

In [24]:
total_inserted_rows = 0
for value in clean_values:
    mycursor.execute(sql, value)
    total_inserted_rows += 1
mydb.commit()
print(total_inserted_rows, 'rows have been insetred!')

9998 rows have been insetred!

In [38]:
sql = 'SELECT COUNT(*) FROM tweets'
mycursor.execute(sql)
total_entry = mycursor.fetchall()
print('Total no. of rows =', total_entry[0][0])

Total no. of rows = 9998

In [37]:
print(type(total_entry))
print(type(total_entry[0]))
print(type(total_entry[0][0]))

<class 'list'>
<class 'tuple'>
<class 'int'>