In [ ]:
# copyright (c) abdulhasibuddin@gmail.com

 Data Cleaning::

In [1]:
import csv
from openpyxl import Workbook
from openpyxl import load_workbook
from tkinter import Tk
from tkinter.filedialog import askopenfilename

 White list of characters::

In [2]:
white_list = ['অ','আ','ই','ঈ','উ','ঊ','ঋ','এ','ঐ','ও','ঔ','ক','খ','গ','ঘ','ঙ','চ','ছ','জ','ঝ','ঞ','ট','ঠ','ড',
              'ঢ','ণ','ত','থ','দ','ধ','ন','প','ফ','ব','ভ','ম','য','র','ল','শ','ষ','স','হ','ড়','ঢ়','য়','ৎ','ক্ষ',
              'ঁ','ং','ঃ','়','া','ি','ী','ু','ূ','ৃ','ৄ','ে','ৈ','ো','ৌ','্','ৗ','ৠ','ৢ','ৣ','ৰ','ৱ','০','১','২',
              '৩','৪','৫','৬','৭','৮','৯','।','?','!',',',':',';',' ']

In [3]:
special_chars = ['।','?','!',',',':',';',' ']

In [4]:
wb = Workbook()

In [5]:
#path = 'D:\EDUCATION\Deep Learning\Jupyter Notebook\Twitter Bangla Collection\Tweets_July_Bangla_Raw\\'

In [6]:
#file_name = 'Tweet_July_2018_1'

Tk().withdraw()
file_name = askopenfilename()
print(file_name)

D:/EDUCATION/Thesis - Sentiment Analysis/Twitter Bangla Collection/Tweets_July_Raw_Bangla/Tweet_July_2018_1.xlsx

In [7]:
#file_extension = '.xlsx'

In [8]:
tweet_year = '2018'

In [9]:
#wb = load_workbook(path+file_name+file_extension)
wb = load_workbook(file_name)

In [10]:
ws = wb.active

In [11]:
tuple_cells = ws['B']

In [14]:
clean_values = []
unnecessary_multiple_occurences = False
multiple_blacklisted_char = False
multiple_whitespace = False
total_rows = 5002 #len(tuple_cells)+1
#redundant_

for cell_num in range(1, total_rows):
    cell_date = 'B'+str(cell_num) #date column
    cell_tweet = 'C'+str(cell_num) #tweet column
    filtered_string = ''
    final_filtered_string = ''
    
    if ws[cell_tweet].value is not None:
        #Tweet data cleaning::
        for char in ws[cell_tweet].value:
            if char in special_chars and char!=' ': # if any stop char...
                filtered_string += ' ' # add space before it
            if char in special_chars and unnecessary_multiple_occurences==True: # if multiple stop chars or spaces...
                continue # skip
            elif char not in special_chars and unnecessary_multiple_occurences==True: # if char is letter or number(bangla)...
                unnecessary_multiple_occurences = False # set flag for multiple stop chars or spaces to false
            elif char in special_chars and unnecessary_multiple_occurences==False: # on 1st occurence of any stop char or space...
                unnecessary_multiple_occurences = True # set flag for multiple stop chars or spaces to true to check future char
            if char in white_list: # if allowed char...
                filtered_string += char # add it to filtered string
                multiple_blacklisted_char = False # set flag for non-allowed char to false.
                if char in special_chars and char!=' ': # if any stop char...
                    filtered_string += ' ' # add sapce after it
            elif multiple_blacklisted_char==False: # if multiple non-allowed char...
                filtered_string += ' ' # replace them with a space...
                multiple_blacklisted_char = True # and set flag for non-allowed char to true.
        
        #2nd level Twitter data cleaning (removing extra whitespaces)::
        for char in filtered_string:
            if char!=' ': # skip multiple spaces
                final_filtered_string += char
                multiple_whitespace = False
            elif char==' ' and multiple_whitespace==False:
                final_filtered_string += char # add single space
                multiple_whitespace = True
        #final_filtered_string += '\n' # adding end-of-line character
        
        # check for data redundancy and empty data::
        if final_filtered_string == '' or final_filtered_string==' ':
            continue
        if final_filtered_string in [value[1] for value in clean_values]:
            continue
        
        #Date formatting::
        for current_date in ws[cell_date].value:
            date = ws[cell_date].value + ' ' + tweet_year # decorating date column.
        
        clean_values.append((date, final_filtered_string))
        #clean_values.append((date, filtered_string))

In [25]:
print(len(clean_values))
'''
for value in clean_values:
    print(value[1])
    break
'''
print(clean_values[107][1])

1948
রাজনাথ সিং সংসদে বললেন এই নাকি ফাইনাল নয় । এই লক্ষ লোক কে আবার নাকি সুযোগ দেওয়া হবে নাগরিত্ব প্রমাণ করার । এটা কি আইওয়াশ নয় ? এরা আর কি প্রমাণ দেবেন ? পাসপোর্ট , আধার ভোটার কার্ড সব ই তো বাতিল করে দিয়েছে । আবার অনেক পুরুষের নাম আছে অথচ তাদের পরিবারের নাম নেই । এরা কি করবে ?

In [26]:
#print(clean_values[-1])
#print(clean_values[-1][1])
#del(clean_values[0])
len(clean_values)

1948

Inserting clean data in MySQL Database::

In [15]:
import mysql.connector

In [16]:
host_name = 'localhost'
username = 'root'
password = ''
database = 'sentimentdb'

In [17]:
mydb = mysql.connector.Connect(host=host_name, user=username, passwd=password)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001EF80F22978>

In [18]:
mycursor = mydb.cursor()
print(mycursor)

MySQLCursor: (Nothing executed yet)

In [19]:
#sql = 'CREATE DATABASE IF NOT EXISTS ' + database

In [20]:
#mycursor.execute(sql)

In [21]:
sql = 'USE ' + database

In [22]:
mycursor.execute(sql)

In [23]:
#sql = 
'''CREATE TABLE IF NOT EXISTS tweets_1 (
    id INT AUTO_INCREMENT PRIMARY KEY,
    tweet_date VARCHAR(20) NOT NULL,
    tweet TEXT NOT NULL,
    labelled_by INT NOT NULL DEFAULT 0
    )CHARACTER SET utf8 COLLATE utf8_general_ci
'''

'CREATE TABLE IF NOT EXISTS tweets_1 (\n    id INT AUTO_INCREMENT PRIMARY KEY,\n    tweet_date VARCHAR(20) NOT NULL,\n    tweet TEXT NOT NULL,\n    labelled_by INT NOT NULL DEFAULT 0\n    )CHARACTER SET utf8 COLLATE utf8_general_ci\n'

In [24]:
#mycursor.execute(sql)

In [25]:
sql = 'SELECT tweets_new.tweet FROM tweets_new'
mycursor.execute(sql)
existing_tweets = mycursor.fetchall()

In [26]:
#print(existing_tweets[-1][0])

In [27]:
sql = 'INSERT INTO tweets_new (tweet_date, tweet) VALUES (%s, %s)'

In [28]:
total_inserted_rows = 0
for value in clean_values:
    if value[1] in [existing_tweet[0] for existing_tweet in existing_tweets]:
            continue
    mycursor.execute(sql, value)
    total_inserted_rows += 1
mydb.commit()
print(total_inserted_rows, 'rows have been insetred!')

0 rows have been insetred!

In [29]:
# Remove existing duplicates from database::
def remove_existing_duplicates():
    sql = '''
    DELETE t1
    FROM tweets_new t1
    INNER JOIN tweets_new t2
    WHERE t1.tweet_id > t2.tweet_id
    AND t1.tweet=t2.tweet;
    '''
    mycursor.execute(sql)
#remove_existing_duplicates()

In [30]:
sql = 'SELECT COUNT(*) FROM tweets_new'
mycursor.execute(sql)
total_entry = mycursor.fetchall()
print('Total no. of rows =', total_entry[0][0])

Total no. of rows = 14061

In [31]:
print(type(total_entry))
print(type(total_entry[0]))
print(type(total_entry[0][0]))

<class 'list'>
<class 'tuple'>
<class 'int'>

In [32]:
def drop_table():
    #mycursor.execute('DROP DATABASE tweetdb')
    mycursor.execute('DROP TABLE tweets_new')
#drop_table()